body{
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

main{
  max-width: 900px;
  margin: auto;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 620px;
  margin: auto;
}

.link{
  text-decoration-line: none;
}

.link:hover{
  text-decoration-line: underline;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: auto;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  margin-top: 10px;
  background-color: aliceblue;
  border-radius: 5px;
}

#create-employee{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  border: 1px solid;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
}

.submit{
  height: 35px;
  padding: 7px 35px;
  cursor: pointer;
  border-radius: 20px;
  border: 0.5px solid;
  background-color: aliceblue;
}

.input-address{
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.department_submit{
  display: flex;
  justify-content: center;
}

input{
  width: 253px;
  height: 24px;
}

.select-required{
  display: none;
  color: red;
  margin: 0;
  font-size: 12px;
}

#employee-div{
  width: 1080px;
  max-width: none;
}

.header-employee-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1080px;
  margin: auto;
}

.table{
  width: inherit;
}