.title {
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  margin-top: 10px;
}

#create-employee{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.submit{
  height: 35px;
  padding: 7px 26px;
  cursor: pointer;
  border-radius: 20px;
  border: 0.5px solid;
}

.date-input{
  width: 245px;
}

#employee-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 890px;
}

#employee-table td, #employee-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#employee-table tr:nth-child(even){background-color: #f2f2f2;}

#employee-table tr:hover {background-color: #ddd;}

#employee-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.input-address{
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.department_submit{
  display: flex;
  align-items: flex-end;
  column-gap: 12.5rem;
}

input{
  height: 20px;
  width: 245px;
}